<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../static/js/jh.js" defer></script>
  <link rel="stylesheet" type="text/css" href="../static/css/jh.css">
  <title>team3 info</title>
</head>

<body>
  <div class="about-team" id="teamHeader">팀소개페이지</div>
  <div class="about-me" id="aboutMe">간단한 자기소개</div>
  <div class="review" id="review">
    <label for="input-review">댓글</label>
    <input id="input-review" type="text" placeholder="">
    <button type="button" id="btn-review">등록</button>
    <ul id="reviews"></ul>
  </div>
  <div class="btn-box" id="btn-box">
    <button>길재형</button>
    <button>유상우</button>
    <button>육준호</button>
  </div>
</body>

</html>