<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <script src="../static/js/comment.js"></script>

</head>
<body>
<div class="mytitle">
    <div class="left-box">
        팀장: 유상우<br>팀원: 송지훈, 육준호, 길재형
    </div>
    <div class="center-box"><h1 class="sixth">Four Glass</h1></div>
    <div class="right-box"></div>
</div>


<div class="mymain">
    <div class="mycard">
        <div class="row row-cols-4">
            <div class="card">
                <img src="../static/image/ryu.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">유상우(팀장)</h5>
                    <p class="card-text">010-7329-5467</p>
                    <a href="team2" class="btn btn-primary">Go!</a>
                </div>
            </div>
            <div class="card">
                <img src="../static/image/jalsenggim.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">길재형</h5>
                    <p class="card-text">나는 거북이당</p>
                    <a href="team1" class="btn btn-primary">Go!</a>
                </div>
            </div>
            <div class="card">
                <img src="../static/image/jalsenggim.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">송지훈</h5>
                    <p class="card-text">나는 거북이당</p>
                    <a href="/team4" class="btn btn-primary">Go!</a>
                </div>
            </div>
            <div class="card">
                <img src="../static/image/yook.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">육준호</h5>
                    <p class="card-text"><hr>1년전 ENFP
                    <p>목표는 취업입니다.</p>
                    </p>
                    <a href="team3" class="btn btn-primary">Go!</a>
                </div>
            </div>
            <div class="introduce">
                <h1>Four Glass(포글라스)</h1>
                <h3>저희는 조원 모두가 안경을 착용하고 있어<h3>
                    팀명을 Four Glass(포글라스)라고 만들었습니다. <br>
                    유상우 : CSS 디자인<br>
                    길재형 : 댓글 삭제<br>
                    송지훈 : 댓글 수정<br>
                    육준호 : 댓글 등록
            </div>
        </div>

    </div>
    <div class="commentForm">
        <h1>메세지를 남겨주세요</h1>
        <div id="Form">
            <input type="text" id="name" placeholder="닉네임" style="margin: 5px">
            <input type="text" id="comment" placeholder="댓글">
            <div class="form-floating">
        <input class="form-control" type="password" placeholder="비밀번호" id="pass"
               style="height: 80px"></input>
        <label for="floatingTextarea2"><h5>비밀번호</h5></label>
    </div>
            <button onclick="save_comment()">댓글 달기</button>
            <div class="commentteb" id="comment-list">
            </div>
        </div>
    </div>
</body>

</html>