<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>나는누구?</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="../../static/css/team2.css">
    <script type="text/javascript" src="../../static/js/team2.js"></script>
    <script type="text/javascript" src="../../static/js/team2_comment.js"></script>
</head>

<body>
<div>
    <a>
        <div class="mypic">
            <h1><a href="/" style="color : white; text-decoration: none;">Four Glass</a></h1>
        </div>
    </a></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4" style="border: 1px solid; width: 300px">
            <img src="/static/image/ryu.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-3" style="border-right: 1px solid; min-width: 270px; max-width: 270px">
            <div class="card-body">
                <h3 class="card-title">유상우(팀장)</h3>
                <p class="card-text">생년월일 1999년 10월 15일생</p>
                <p class="card-text">MBTI : ISTJ</p>
                <p class="card-text">선호 음식 : 한식, 양식, 일식</p>
                <p class="card-text">취미 : 게임, 유튜브보기</p>
                <p class="card-text">Tel : 010-7329-5467</p>
            </div>
        </div>
        <div class="col-md">
            <div class="card-body">
                <p class="card-text">청강문화산업대학 모바일통신과 전공으로 무선설비, 통신선로 산업기사 자격증 보유중</p>
                <p class="card-text">전공수업으로 프로그래밍을 하면서 나름 흥미를 느꼈어서 전역 후 찍먹해 보려고</p>
                <p class="card-text">웹개발 종합반 수업을 들었었는데 맘에 들어서 내배캠까지 지원하게 되었습니다.</p>
                <img style="width: 200px" src="/static/image/rabbit.png">
                <p class="card-text">나는 거북이당</p>
            </div>
        </div>
    </div>
</div>
<div class="mypost">
    <div class="input-group mb-2">
        <input type="text" id="name" class="form-control" placeholder="이름">
        <input type="password" id="pass" class="form-control" placeholder="비밀번호">
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="comment" placeholder="하고싶은말" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">하고 싶은 말</label>
    </div>
    <button onclick="save_comment('/fourglass/team2_get_cmt', '/fourglass/team2_add_cmt')" type="button" class="btn btn-dark">>_<</button>
</div>
<div class="mycards" id="comment-list">

</div>
</body>
</html>