<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../static/js/member/team4.js" defer></script>
  <link rel="stylesheet" type="text/css" href="../../static/css/member/team4.css">
  <title>송지훈</title>
</head>

<body>
  <div class="about-team" id="teamHeader">팀소개페이지</div>
  <div class="about-me" id="aboutMe">
    <p>안녕하세요 송지훈 입니다.</p>
    <p>일하고 공부하길 즐깁니다.</p>
    <p>이따금씩 글을 올리는 제 
      <a href="https://91song4.tistory.com/" target="_blank">블로그</a>
      입니다.
    </p>
    <p>페이지를 예쁜색을 입혀서 꾸며봤습니다. 이쁘죠?</p>
  </div>
  <div class="review" id="review">
    <label for="input-review">댓글</label>
    <input id="input-review" type="text" placeholder="">
    <button type="button" id="btn-insert">등록</button>
    <button type="button" id="btn-release">모두삭제</button>
    <ul id="reviews"></ul>
  </div>
  <div class="btn-box" id="btn-box">
    <button>길재형</button>
    <button>유상우</button>
    <button>육준호</button>
  </div>
</body>

</html>