* {
  user-select: none;
}

.about-team {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: white;
}

.about-team:hover {
  background-color: green;
}

.about-me {
  background-color: royalblue;
  width: 100%;
  height: 100px;
}

.review {
  background-color: olivedrab;
  width: 100%;
  height: 100px;
}

.btn-box {
  background-color: darkkhaki;
  width: 100%;
  height: 100px;
}
